<!DOCTYPE html>
<html>
<head>
  <title>Model 数据可视化</title>
  <!-- 引入 jQuery 库 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- 引入 ECharts 库 -->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
  <link rel="stylesheet" href="../static/css/index.css">

    <style>

        .divider {
      width: 2px;
      height: 550px;
      position: relative;
      margin: 0 auto;
      background-color: #000;
      animation: fadeAnimation 4s infinite;
    }

    @keyframes fadeAnimation {
      0% {
        opacity: 1;
        transform: translateY(0);
      }
      50% {
        opacity: 0;
        transform: translateY(70%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    </style>
</head>
<body>

   <!-- 头部盒子 -->
    <header>
        <h2>TapTap游戏平台的大数据分析</h2>
    </header>
    <section class="container">
          <!-- 左边导航栏 -->
        <nav class="left_nav">
          <ul>
            <li><a href="/"  onclick="this.style.color='#A6E3E9'">最热门游戏类型</a></li>
           <li><a href="/3" onclick="this.style.color='#A6E3E9'">热门游戏中各游戏类型占比</a></li>
            <li><a href="/2" onclick="this.style.color='#A6E3E9'">各游戏类型的数量分布</a></li>
            <li><a href="/4" onclick="this.style.color='#A6E3E9'">游戏下载排行榜</a></li>
            <li><a href="/5"  onclick="this.style.color='#A6E3E9'">游戏关注排行耪</a></li>
            <li><a href="/6"  onclick="this.style.color='#A6E3E9'">评分排行榜</a></li>
            <li><a href="/result"  onclick="this.style.color='#A6E3E9'">流行趋势与下载指导</a></li>
          </ul>
        </nav>

        <div id="map">
             <div id="chart" ></div>
        </div>

        <div class="divider"></div>
        <div class="decoration" style="display: flex; flex-direction: column; align-items: center;">
            <div id="chart3" style="width:100%; height:380px; "></div>
<!--            <div style="width:100%; height:100px;"><span style="text-align: center; font-size: 16px; font-family: electronicFont;"></span></div>-->
             <div style="width:100%; height:100px; "><img src="../static/img/text7_1.png" style="text-align: center; font-size: 16px; font-family: electronicFont;"></div>
        </div>

    </section>

   <script src="../static/js/flexible.js"></script>


  <script>
    // 发起 AJAX 请求获取数据
    $.ajax({
      url: '/data2',
      type: 'GET',
      success: function(response) {
        //格式化数据
        let data = {
          labels: response.labels,
          values: response.values
        };
        //渲染图表
        let myChart = echarts.init(document.getElementById("chart"));

        let option = {
          title: {
            text: '各游戏类型数量图',
            left: true,
              textStyle: {
               fontFamily:'electronicFont',
                  fontSize: 16,
                  fontWeight: 'bolder',
                  // lineHeight:35
              }
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br> {b}: {c} ({d}%)'
          },
          legend: {
              name:'各游戏类型',
            type: 'scroll',
            orient: 'vertical',
            right: 50,
            top: 20,
            bottom: 20,
            data: data.labels,

            //   type: 'scroll',
            //     orient: 'horizontal',  // 将orient属性设置为'horizontal'
            //     top: 30,  // 调整top值来控制legend的位置
            //     data: data.labels,
          },
          series: [
            {
              name: '游戏类型',
              type: 'pie',
              radius: '75%',
              center: ['40%', '45%'],
              data: data.values,
              labelLine: {
                    length: 20,
                    length2: 30,
                    smooth: true
                },
              emphasis: {
                itemStyle: {
                  shadowBlur: 6,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.4)',
                }
              },
              itemStyle: {
                  color: function(params) {
                  // 定义颜色数组
                  let colorList = ['#B5F1CC', '#E5FDD1', '#C9F4AA', '#B6E2A1', '#FFFBC1', '#FEBE8C', '#F7A4A4'];
                  // 返回对应索引的颜色
                  return colorList[params.dataIndex % colorList.length];},
                  fontSize:13,
                  fontFamily:"electronicFont",
              }
            }
          ]
        };
        myChart.setOption(option);




           //格式化数据
          let data2 = {
              labels: response.labels2,
              values: response.values2
          };
          //渲染图表
          let myChart3 = echarts.init(document.getElementById("chart3"));
          let option3 = {
               title: {
                    text: '各游戏类型数量分段饼图',
                    left: 'center',
                      textStyle: {
                       fontFamily:'electronicFont',
                          fontSize: 16,
                          fontWeight: 'bolder',
                          // lineHeight:35
                      }
                  },
              tooltip: {
                trigger: 'item'
              },
              legend: {
                top: '5%',
                right: true
              },
              series: [
                {
                  name: data2.labels,
                  type: 'pie',
                  radius: ['40%', '70%'],
                 center:['50%', '60%'],
                  avoidLabelOverlap: false,
                  itemStyle: {
                    borderRadius: 10,
                    borderColor: '#fff',
                    borderWidth: 2,
                   color: function(params) {
                      // 定义颜色数组
                      let colorList = ['#B5F1CC', '#E5FDD1', '#C9F4AA', '#B6E2A1', '#FFFBC1', '#FEBE8C', '#F7A4A4'];
                      // 返回对应索引的颜色
                      return colorList[params.dataIndex % colorList.length];},
                      fontSize:13,
                      fontFamily:"electronicFont",
                  },
                  label: {
                    show: false,
                    position: 'center'
                  },
                  emphasis: {
                    label: {
                      show: true,
                      fontSize: 40,
                      fontWeight: 'bold'
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: data2.values
                }
              ]
            };
          myChart3.setOption(option3);



      }
    });
  </script>

<!--<script>-->
<!--     // 发起 AJAX 请求获取数据-->
<!--    $.ajax({-->
<!--      url: '/data2_2',-->
<!--      type: 'GET',-->
<!--      success: function(response) {-->
<!--          //格式化数据-->
<!--          let data = {-->
<!--              labels: response.labels,-->
<!--              values: response.values-->
<!--          };-->
<!--          //渲染图表-->
<!--          let myChart3 = echarts.init(document.getElementById("chart3"));-->
<!--          let option3 = {-->
<!--               title: {-->
<!--                    text: '各游戏类型数量分段饼图',-->
<!--                    left: 'center',-->
<!--                      textStyle: {-->
<!--                       fontFamily:'electronicFont',-->
<!--                          fontSize: 16,-->
<!--                          fontWeight: 'bolder',-->
<!--                          // lineHeight:35-->
<!--                      }-->
<!--                  },-->
<!--              tooltip: {-->
<!--                trigger: 'item'-->
<!--              },-->
<!--              legend: {-->
<!--                top: '5%',-->
<!--                right: true-->
<!--              },-->
<!--              series: [-->
<!--                {-->
<!--                  name: data.labels,-->
<!--                  type: 'pie',-->
<!--                  radius: ['40%', '70%'],-->
<!--                 center:['50%', '60%'],-->
<!--                  avoidLabelOverlap: false,-->
<!--                  itemStyle: {-->
<!--                    borderRadius: 10,-->
<!--                    borderColor: '#fff',-->
<!--                    borderWidth: 2,-->
<!--                   color: function(params) {-->
<!--                      // 定义颜色数组-->
<!--                      let colorList = ['#B5F1CC', '#E5FDD1', '#C9F4AA', '#B6E2A1', '#FFFBC1', '#FEBE8C', '#F7A4A4'];-->
<!--                      // 返回对应索引的颜色-->
<!--                      return colorList[params.dataIndex % colorList.length];},-->
<!--                      fontSize:13,-->
<!--                      fontFamily:"electronicFont",-->
<!--                  },-->
<!--                  label: {-->
<!--                    show: false,-->
<!--                    position: 'center'-->
<!--                  },-->
<!--                  emphasis: {-->
<!--                    label: {-->
<!--                      show: true,-->
<!--                      fontSize: 40,-->
<!--                      fontWeight: 'bold'-->
<!--                    }-->
<!--                  },-->
<!--                  labelLine: {-->
<!--                    show: false-->
<!--                  },-->
<!--                  data: data.values-->
<!--                }-->
<!--              ]-->
<!--            };-->
<!--          myChart3.setOption(option3);-->
<!--      }-->
<!--     })-->
<!--</script>-->


</body>
</html>