<!DOCTYPE html>
<html>
<head>
  <title>Model 数据可视化</title>
  <!-- 引入 jQuery 库 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- 引入 ECharts 库 -->
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
  <link rel="stylesheet" href="../static/css/index.css">

        <style>
         .rk{
            text-align: center;
            width:100%;
            height:560px;
            overflow: scroll;
            padding-left: 10px;
        }
        table{
            width: 100%;
            border-collapse: collapse;
        }

        table caption{
            font-size: 16px;
            font-weight: bold;
            margin: 1em 0;
        }

        th,td{
            border: 1px solid #999;
            text-align: center;
            padding: 20px 0;
        }

        table thead tr{
            /*background-color: #AAC4FF;*/
            background-color: #B5F1CC;
            color: #fff;
        }

        table tbody tr:nth-child(odd){
            background-color: #C9F4AA;
        }

        table tbody tr:hover{
            background-color: #ccc;
        }

        table tbody tr td:first-child{
            color: #f40;
        }

        table tfoot tr td{
            text-align: right;
            padding-right: 20px;
        }
    </style>

</head>
<body>

   <!-- 头部盒子 -->
    <header>
        <h2>TapTap游戏平台的大数据分析</h2>
    </header>
    <section class="container">
          <!-- 左边导航栏 -->
        <nav class="left_nav">
          <ul>
             <li><a href="/"  onclick="this.style.color='#A6E3E9'">最热门游戏类型</a></li>
           <li><a href="/3" onclick="this.style.color='#A6E3E9'">热门游戏中各游戏类型占比</a></li>
            <li><a href="/2" onclick="this.style.color='#A6E3E9'">各游戏类型的数量分布</a></li>
            <li><a href="/4" onclick="this.style.color='#A6E3E9'">游戏下载排行榜</a></li>
            <li><a href="/5"  onclick="this.style.color='#A6E3E9'">游戏关注排行耪</a></li>
            <li><a href="/6"  onclick="this.style.color='#A6E3E9'">评分排行榜</a></li>
            <li><a href="/result"  onclick="this.style.color='#A6E3E9'">流行趋势与下载指导</a></li>
          </ul>
        </nav>

        <div id="map">
             <div id="chart" style="left:40px;"></div>
        </div>

        <div class="decoration">
            <div class="rk" >
                 <table>
                     <caption>游戏下载排行榜</caption>
                        <thead>
                            <tr>
                                 <th>序号</th>
                                 <th>游戏名称</th>
                                 <th>游戏下载量</th>

                            </tr>
                          </thead>
                    <tbody id="test"></tbody>
                   </table>
             </div>
        </div>

    </section>


   <script src="../static/js/flexible.js"></script>
<!--    <script src="../static/js/echarts.min.js"></script>-->
    <!-- 先引入jquery -->
<!--    <script src="../static/js/jquery.js"></script>-->


  <script>
    // 发起 AJAX 请求获取数据
    $.ajax({
      url: '/data4',
      type: 'GET',
      success: function(response) {
          let data = {
              labels: response.labels,
              values: response.values
          };
          let dataAxis = data.labels;
        let yMax = 250000000;
        let dataShadow = [];
        for (let i = 0; i < data.values.length; i++) {
          dataShadow.push(yMax);
        }
        let myChart = echarts.init(document.getElementById("chart"));
        let option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'shadow'
                }
              },
          title: {
            text: '游戏下载排行榜',
            subtext: '（可以点击和用鼠标进行缩放）'
          },
          xAxis: {
            data: data.labels,
            axisLabel: {
              inside: true,
             color: '#435B66',
                 rotate: -90 // 设置文字旋转角度为-90度
            },
            axisTick: {
              show: false
            },
            axisLine: {
              show: false
            },
            z: 10
          },
          yAxis: {
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            axisLabel: {
              color: '#999'
            }
          },
          dataZoom: [
            {
              type: 'inside'
            }
          ],
          series: [
            {
              type: 'bar',
              showBackground: true,
              itemStyle: {
                  color: function (params) {
                      // 定义颜色数组
                      let colorList = ['#FFB6B9', '#FAE3D9', '#BBDED6', '#8AC6D1'];
                      // 返回对应索引的颜色
                      return colorList[params.dataIndex % colorList.length];
                 }
              },
              emphasis: {
                itemStyle: {
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    { offset: 0, color: '#2378f7' },
                    { offset: 0.7, color: '#2378f7' },
                    { offset: 1, color: '#83bff6' }
                  ])
                }
              },
              data: data.values
            }
          ]
        };
        // 3. 把配置给实例对象
      myChart.setOption(option);
        // Enable data zoom when user click bar.
        const zoomSize = 6;
        myChart.on('click', function (params) {
          console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
          myChart.dispatchAction({
            type: 'dataZoom',
            startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
            endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
          });
        });

        let test = document.getElementById("test");
         let tt = response.labels2;   //第一个data代表json,第二个data代表json里的数组或对象
          let ii =response.values2;
                      let str1 = "";   //声明str1，防止产生undefined
                      for (let i = 0; i < tt.length; i++) {   //遍历
                          str1 += "<tr cate-id='0' fid='0'>" +
                              "<td>" + (i+1)+ "</td>" +
                              "<td>" + tt[i]+ "</td>" +    //i代表下标，获取数据中的下标为i的1的值
                              "<td>" + ii[i]+ "</td>" ;   //i代表下标，获取数据中的下标为i的2的值
                              //.....
                              // "<td>" + tt[i].n+"</td>";    //i代表下标，获取数据中的下标为i的n的值，1-n是属性名
                      }
                      test.innerHTML = str1;   //将数据写入html中




      }
    });
  </script>



<!--  <script>-->
<!--    // 发起 AJAX 请求获取数据-->
<!--    $.ajax({-->
<!--      url: '/data4_2',-->
<!--      type: 'GET',-->
<!--      success: function(response) {-->
<!--          let test = document.getElementById("test");-->
<!--         let tt = response.labels;   //第一个data代表json,第二个data代表json里的数组或对象-->
<!--          let ii =response.values;-->
<!--                      let str1 = "";   //声明str1，防止产生undefined-->
<!--                      for (let i = 0; i < tt.length; i++) {   //遍历-->
<!--                          str1 += "<tr cate-id='0' fid='0'>" +-->
<!--                              "<td>" + (i+1)+ "</td>" +-->
<!--                              "<td>" + tt[i]+ "</td>" +    //i代表下标，获取数据中的下标为i的1的值-->
<!--                              "<td>" + ii[i]+ "</td>" ;   //i代表下标，获取数据中的下标为i的2的值-->
<!--                              //.....-->
<!--                              // "<td>" + tt[i].n+"</td>";    //i代表下标，获取数据中的下标为i的n的值，1-n是属性名-->
<!--                      }-->
<!--                      test.innerHTML = str1;   //将数据写入html中-->
<!--                  },-->
<!--    });-->
<!--  </script>-->


</body>
</html>